<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Pracetices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Pracetices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Configuration"/>
    <containers>
      <container name="aopContainer">
        <extension type="Interception"/>
        <register type="Decorator.Animal,Decorator" mapTo="Decorator.Cat,Decorator">
          <interceptor type="InterfaceInterceptor"/>
          <intercaptionBehavior type="Decorator.Behavior.LogBeforeBehavior,Decorator"/>
        </register>
      </container>
    </containers>
  </unity>
</configuration>